@layer base{html,body{margin:0;padding:0;}body{overscroll-behavior:none;}main>:first-child{margin-top:0!important;}main>:last-child{margin-bottom:0!important;}}::-webkit-scrollbar{display:none;}

.neo-shadow {
  box-shadow: 4px 4px 0px 0px #131b2e;
}

.neo-shadow-sm {
  box-shadow: 2px 2px 0px 0px #131b2e;
}

.neo-shadow-hover:hover {
  box-shadow: 6px 6px 0px 0px #131b2e;
  transform: translate(-2px, -2px);
}

.neo-shadow-amber {
  box-shadow: 4px 4px 0px 0px #f59e0b;
}
